[Unit]
Description=ros2 auto start: joy_linux & robot

[Service]
User=ubuntu
Type=simple
ExecStart=/usr/bin/bash /home/ubuntu/auto_start/shell_script_joy_robot.sh
WorkingDirectory=/home/ubuntu/turtlebot3_ws/
Restart=on-failure

[Install]
WantedBy=multi-user.target

